<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Its a website for ejs</title>
        
    </head>
    <body>
        <h1>The Authors who made these books are here</h1>
        <p><%= author.name %></p>
        <p> ID:<%= author.id %> </p>
    </body>
</html>